<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이진아 도서관</title>
</head>
<body>
    <h1> ~ 이진아 도서관에 오신 것을 환영합니다 ~ </h1>
    <h2> 혼자 가면 위험하니 sql 구문을 들고가렴! </h2>
    <h3> --> sql/db-script.sql </h3>

    <div>
        <img src="/img/lja_library.jpg" width="50%" height="50%"> <span style="font-size:13px">(-->실존하는 도서관. 우리집 앞)</span>
    </div>

    <button onclick="location.href='/rent/rent'">대여하기</button>
    <button onclick="location.href='/rent/list'">대여 목록 보기</button>
    <button onclick="location.href='/book/list'">책 목록 보기</button>


</body>
</html>